.class1 {
    background-color: #FFFFCC;
    font-size: 20px;
    border: 20px solid #FFFFCC;
    margin-top: 50px;
    margin-left: 80px;
}

.class2 {
    width: 350px;
    height: 200px;
    background-color: #FFFFCC;
    margin-bottom: 10px;
    font-size: 20px;
}

form div {
    margin-bottom: 20px;
}

form input {
    margin-left: 10px;
    width: 200px;
    height: 30px;
    font-size: 20px;
}

#check {
    margin-left: 128px;
    width: 209px;
    height: 30px;
    font-size: 20px;
}
